.max-width {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2a9d8f;
}

.center {
  min-height: 800px;
  display: flex;
  justify-content: center;
}

.login {
  width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
}

.title {
  color: white;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 80px;
  text-align: center;
}

.login .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login form {
  width: 80%;
}

.login .field {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.login .field label {
  color: white;
  padding: auto auto 5px 3px;
  margin-bottom: 2px;
}

.wrapper input {
  width: calc(100% - 35px);
  padding-left: 30px;
  height: 25px;
  border: 1px solid black;
  border-radius: 6px;
}

.invalid {
  border: 2.5px solid red;
}

.icon {
  font-size: 20px;
  position: absolute;
  margin: 5px auto auto 5px;
}

.button {
  height: 35px;
  width: 100%;
  background: #1d3557;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #1d3557;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 5px white;
  transition: all 0.3s ease;
}

.login #invalidBtn {
  opacity: 0.5;
}

.login #disabledBtn {
  background: gray;
}

.button:hover {
  background: white;
  color: #1d3557;
}

.err-message {
  margin-top: 2px;
  color: rgb(221, 148, 148);
}
