.max-width {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 60px;
}

.login form {
  width: 100%;
}

.login .field {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login .field label {
  padding: auto auto 5px 3px;
}

.login .field input {
  width: 100%;
  padding-left: 20px;
}

.login .field .icon {
  position: absolute;
  margin: 2px auto auto 3px;
}

.login button {
  width: 100%;
}
